.background_cover, .cover, .student .student__content .card .card-body .image__student {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px; }

.input_text, .myNavBar .myNavBar__left .form_search .input-group-text, .cover .cover__container .form_cover_search .input-group-text {
  font-size: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  cursor: pointer; }
  .input_text i, .myNavBar .myNavBar__left .form_search .input-group-text i, .cover .cover__container .form_cover_search .input-group-text i {
    color: #ec5252; }
  .input_text:hover, .myNavBar .myNavBar__left .form_search .input-group-text:hover, .cover .cover__container .form_cover_search .input-group-text:hover {
    background-color: #ec5252; }
    .input_text:hover i, .myNavBar .myNavBar__left .form_search .input-group-text:hover i, .cover .cover__container .form_cover_search .input-group-text:hover i {
      color: #fff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff; }

.owl-next,
.owl-prev {
  color: #00576b !important;
  font-size: 24px !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  position: absolute;
  top: 35%;
  right: -30px;
  background-color: #fff !important;
  z-index: 2; }

.owl-prev {
  color: #00576b !important;
  font-size: 24px !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  position: absolute;
  top: 35%;
  left: -30px;
  background-color: #fff !important;
  z-index: 2; }

.myNavBar {
  padding: 10px;
  border-bottom: 1px solid #cacbcc; }
  .myNavBar .myNavBar__left {
    flex-wrap: wrap; }
    .myNavBar .myNavBar__left .navbar-brand {
      flex-grow: 1; }
      .myNavBar .myNavBar__left .navbar-brand img {
        width: 110px; }
    .myNavBar .myNavBar__left .catagories {
      color: #505763;
      font-size: 13px;
      font-weight: normal;
      cursor: pointer;
      flex-grow: 1; }
      .myNavBar .myNavBar__left .catagories i {
        color: #a1a7b3; }
    .myNavBar .myNavBar__left .form_search {
      flex-grow: 4; }
      .myNavBar .myNavBar__left .form_search input {
        background-color: rgba(20, 23, 28, 0.05);
        font-size: 15px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border: 1px solid rgba(20, 23, 28, 0.05);
        border-right: 1px solid transparent;
        padding: 12px 15px; }
        .myNavBar .myNavBar__left .form_search input:focus {
          background-color: #fff;
          border: 1px solid #cacbcc;
          box-shadow: none; }
      .myNavBar .myNavBar__left .form_search .input-group-text {
        background-color: rgba(20, 23, 28, 0.05); }
  .myNavBar #myNavbarId .nav-item {
    flex-grow: 1;
    position: relative; }
    .myNavBar #myNavbarId .nav-item .overlay {
      display: none;
      position: absolute;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #a1a7b3;
      width: 350px;
      top: 56px;
      left: -100%; }
      .myNavBar #myNavbarId .nav-item .overlay::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: -9%;
        right: 10%;
        background-color: #fff;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        border-top: 1px solid #a1a7b3;
        border-left: 1px solid #a1a7b3;
        z-index: 3; }
    .myNavBar #myNavbarId .nav-item .nav-link {
      color: #505763;
      font-size: 13px;
      font-weight: normal;
      margin-top: 5px; }
    .myNavBar #myNavbarId .nav-item:hover {
      background-color: rgba(20, 23, 28, 0.05); }
      .myNavBar #myNavbarId .nav-item:hover .overlay {
        display: block;
        z-index: 2; }
  .myNavBar #myNavbarId .icon__cart {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    max-width: 50px; }
    .myNavBar #myNavbarId .icon__cart i {
      font-size: 20px; }
  .myNavBar #myNavbarId .nav__button:hover {
    background-color: transparent; }
  @media screen and (max-width: 1200px) {
    .myNavBar #myNavbarId .bussiness,
    .myNavBar #myNavbarId .instructor {
      display: none; } }
  @media screen and (max-width: 768px) {
    .myNavBar .myNavBar__left .catagories,
    .myNavBar .myNavBar__left .form__search {
      display: none; } }

.cover {
  background-image: url("../img/cover.jpg");
  position: relative; }
  .cover .cover__container {
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 11%; }
    .cover .cover__container .cover__title {
      color: #fff;
      font-size: 40px;
      font-weight: 600; }
    .cover .cover__container .cover__detail {
      color: #fff;
      font-size: 18px;
      font-weight: normal; }
    .cover .cover__container .form_cover_search input {
      background-color: #fff;
      font-size: 15px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border: 1px solid #fff;
      border-right: 1px solid transparent;
      padding: 12px 15px; }
      .cover .cover__container .form_cover_search input:focus {
        background-color: #fff;
        border: 1px solid #fff;
        box-shadow: none; }
    .cover .cover__container .form_cover_search .input-group-text {
      background-color: #fff; }

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px; }
  .intro .intro__content {
    width: 80%;
    margin: auto; }
    .intro .intro__content .intro__detail {
      flex-grow: 1;
      padding-top: 10px; }
      .intro .intro__content .intro__detail .intro__icon {
        width: 50px;
        margin-right: 25px; }
        .intro .intro__content .intro__detail .intro__icon i {
          font-size: 50px;
          color: #fff; }
      .intro .intro__content .intro__detail .intro__sub_detail b {
        color: #fff;
        font-size: 17px;
        font-weight: 700; }
      .intro .intro__content .intro__detail .intro__sub_detail p {
        color: #fff;
        font-size: 15px;
        font-weight: normal; }
  @media screen and (max-width: 1200px) {
    .intro .intro__content {
      width: 90%; }
      .intro .intro__content .intro__detail .intro__icon {
        width: 0px; }
        .intro .intro__content .intro__detail .intro__icon i {
          width: 0px;
          display: none; } }
  @media screen and (max-width: 768px) {
    .intro {
      display: none; } }

.couser {
  margin: 25px 0; }
  .couser .couser__content {
    width: 80%;
    margin: auto; }
    .couser .couser__content .couser__title {
      color: #29303b;
      font-size: 36px;
      font-weight: normal;
      padding-top: 8rem; }
  .couser .myTab {
    margin-bottom: 25px;
    border-bottom: none; }
    .couser .myTab .nav-link {
      color: #29303b;
      font-size: 15px;
      font-weight: normal; }
      .couser .myTab .nav-link:hover {
        border: none; }
      .couser .myTab .nav-link.active {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 5px solid #007791; }
  .couser .myContent .card {
    height: 275px;
    overflow: hidden; }
    .couser .myContent .card .card-body {
      padding: 1rem; }
      .couser .myContent .card .card-body .card-title {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 39px;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        color: #29303b;
        font-size: 15px;
        font-weight: normal; }
      .couser .myContent .card .card-body .card-text {
        color: #686f7a;
        font-size: 12px;
        font-weight: normal;
        margin: 5px 0; }
      .couser .myContent .card .card-body .star {
        color: #f4c150;
        font-size: 12px;
        font-weight: normal; }
      .couser .myContent .card .card-body .number-average {
        color: #686f7a;
        font-size: 13px;
        font-weight: 600; }
      .couser .myContent .card .card-body .number-rating {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }
      .couser .myContent .card .card-body .price {
        text-align: right;
        padding: 10px 0; }
        .couser .myContent .card .card-body .price span:first-child {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal;
          text-decoration: line-through; }
        .couser .myContent .card .card-body .price span:last-child {
          color: #29303b;
          font-size: 15px;
          font-weight: 600; }
  @media screen and (max-width: 768px) {
    .couser .couser__content .couser__title {
      padding-top: 1rem; } }

.view {
  margin-top: 25px; }
  .view .view__content {
    width: 80%;
    margin: auto;
    position: relative; }
    .view .view__content .card {
      height: 275px;
      overflow: hidden; }
      .view .view__content .card .card-body {
        padding: 1rem; }
        .view .view__content .card .card-body .card-title {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 39px;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -moz-line-clamp: 2;
          -ms-line-clamp: 2;
          -o-line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          -o-box-orient: vertical;
          color: #29303b;
          font-size: 15px;
          font-weight: normal; }
        .view .view__content .card .card-body .card-text {
          color: #686f7a;
          font-size: 12px;
          font-weight: normal;
          margin: 5px 0; }
        .view .view__content .card .card-body .star {
          color: #f4c150;
          font-size: 12px;
          font-weight: normal; }
        .view .view__content .card .card-body .number-average {
          color: #686f7a;
          font-size: 13px;
          font-weight: 600; }
        .view .view__content .card .card-body .number-rating {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal; }
        .view .view__content .card .card-body .price {
          text-align: right;
          padding: 10px 0; }
          .view .view__content .card .card-body .price span:first-child {
            color: #686f7a;
            font-size: 13px;
            font-weight: normal;
            text-decoration: line-through; }
          .view .view__content .card .card-body .price span:last-child {
            color: #29303b;
            font-size: 15px;
            font-weight: 600; }

.categories {
  margin-top: 25px; }
  .categories .categories__content {
    width: 80%;
    margin: auto; }
    .categories .categories__content .item {
      padding: 15px;
      border: 1px solid rgba(20, 23, 28, 0.1);
      cursor: pointer;
      font-size: 18px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }
      .categories .categories__content .item:hover {
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1); }

.student {
  margin-top: 25px; }
  .student .student__content {
    width: 80%;
    margin: auto;
    position: relative; }
    .student .student__content .card {
      height: 350px;
      overflow: hidden; }
      .student .student__content .card .card-body {
        padding: 2rem; }
        .student .student__content .card .card-body .image__student {
          height: 64px;
          width: 64px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%; }
        .student .student__content .card .card-body .star {
          color: #f4c150;
          font-size: 12px;
          font-weight: normal; }
        .student .student__content .card .card-body .student-1 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/17241262_3f92.jpg"); }
        .student .student__content .card .card-body .student-2 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/12747308_fa54.jpg"); }
        .student .student__content .card .card-body .student-3 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/32569788_ca17.jpg"); }
        .student .student__content .card .card-body .student-4 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/22683662_26dd_2.jpg"); }
        .student .student__content .card .card-body .student-5 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/25234256_a0dd.jpg"); }
        .student .student__content .card .card-body .student-6 {
          background-image: url("https://udemy-images.udemy.com/user/100x100/16543918_6bdb.jpg"); }
        .student .student__content .card .card-body .student__couser {
          color: #007791;
          font-size: 15px;
          font-weight: normal; }
        .student .student__content .card .card-body .student__class {
          color: #007791;
          font-size: 15px;
          font-weight: 700; }

.banner {
  background: url(https://udemy-images.udemy.com/logos/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 42%);
  background-blend-mode: overlay;
  height: 325px;
  padding: 50px; }
  .banner h1 {
    color: #fff;
    font-size: 36px;
    font-weight: normal; }
  .banner p {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    font-weight: normal; }
  .banner button {
    margin: 10px 0; }

.partner {
  padding-top: 20px;
  background-color: #f7f8fa; }
  .partner .partner__content {
    width: 70%;
    margin: auto; }
    .partner .partner__content .image__partner {
      justify-content: space-between; }
  @media screen and (max-width: 1200px) {
    .partner .partner__content {
      width: 80%; } }
  @media screen and (max-width: 768px) {
    .partner .partner__content {
      width: 50%; }
      .partner .partner__content .item {
        width: 50%;
        text-align: center;
        margin-bottom: 10px; } }

.job {
  background-color: #f7f8fa;
  padding-top: 20px; }
  .job .job__content {
    width: 60%;
    margin: auto; }
    .job .job__content .teaching {
      padding: 20px; }
      .job .job__content .teaching h1 {
        color: #505763;
        font-size: 20px;
        font-weight: 600; }
  @media screen and (max-width: 1200px) {
    .job .job__content {
      width: 80%; } }

.footer hr {
  margin: 0; }

.footer .item {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px; }

.footer .footer__main {
  margin: 40px auto 30px; }
  .footer .footer__main .footer__links--main {
    padding-left: 15px;
    padding-right: 15px; }
    .footer .footer__main .footer__links--main ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 110px;
      list-style: none; }
      .footer .footer__main .footer__links--main ul li {
        flex: 25%;
        flex-grow: 0; }
        .footer .footer__main .footer__links--main ul li a {
          color: #007791; }
        .footer .footer__main .footer__links--main ul li a:hover {
          text-decoration: none;
          color: #003845; }
  .footer .footer__main .select__language {
    padding-left: 15px;
    padding-right: 15px; }
    .footer .footer__main .select__language .btn--group {
      display: flex;
      margin-left: 190px;
      border: 1px solid black;
      background-color: #fff;
      padding: 10px; }
      .footer .footer__main .select__language .btn--group i,
      .footer .footer__main .select__language .btn--group p {
        margin-bottom: 0px;
        padding-right: 15px; }

.footer .footer__bottom {
  margin: 30px auto; }
  .footer .footer__bottom img {
    width: 110px; }
  .footer .footer__bottom .footer__copyright {
    margin-left: 20px; }
    .footer .footer__bottom .footer__copyright p {
      color: #686f7a;
      font-size: 13px;
      font-weight: normal; }

.footer .footer__links--bottom ul {
  display: flex;
  justify-content: flex-end; }
  .footer .footer__links--bottom ul li a {
    padding-left: 20px;
    text-decoration: none;
    color: #686f7a;
    font-size: 13px;
    font-weight: normal; }

.footer .hr-primary {
  border-top: 6px solid #ec5252; }

.btn--login {
  font-size: 15px;
  font-weight: 600;
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  padding: 11px 12px; }
  .btn--login:hover {
    background-color: rgba(20, 23, 28, 0.05); }

.btn--signup {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px; }
  .btn--signup:hover {
    background-color: #521822; }
