@mixin text($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin button($fs, $fw, $color, $bg-color, $boder, $pd-y, $pd-x, $bg-hover) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    background-color: $bg-color;
    border: 1px solid $boder;
    padding: $pd-y $pd-x;
    &:hover {
        background-color: $bg-hover;
    }
}
//map-has-key tra ve true khi breakpoint co trong list breakpoints, $value tra ve gia tri key cua list
@mixin reponds-to($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        $value: map-get(
            $map: $breakpoints,
            $key: $breakpoint
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "`{$breakpoint}` isn't in breakpoints";
    }
}
@mixin form-search($bg-color, $fs, $b-radius, $b, $b-right, $p, $bg-color-hover, $b-hover, $box-shadow-hover) {
    input {
        background-color: $bg-color;
        font-size: $fs;
        border-radius: $b-radius;
        -webkit-border-radius: $b-radius;
        -moz-border-radius: $b-radius;
        -ms-border-radius: $b-radius;
        -o-border-radius: $b-radius;
        border: $b;
        border-right: $b-right;
        padding: $p;
        &:focus {
            background-color: $bg-color-hover;
            border: $b-hover;
            box-shadow: $box-shadow-hover;
        }
    }
}
