.cover {
    background-image: url("../img/cover.jpg");
    @extend .background_cover;
    position: relative;
    .cover__container {
        max-width: 500px;
        position: absolute;
        top: 30%;
        left: 11%;
        .cover__title {
            @include text($color-white-0, $fs-4, $fw-bold-0);
        }
        .cover__detail {
            @include text($color-white-0, $fs-2 - 2, $fw-normal);
        }
        .form_cover_search {
            @include form-search(
                $color-white-0,
                $fs-0,
                0,
                1px solid $color-white-0,
                1px solid transparent,
                $pd-1 + 2 $pd-1 + 5,
                $color-white-0,
                1px solid $color-white-0,
                none
            );
            .input-group-text {
                // padding: 6px 12px;
                background-color: $color-white-0;
                @extend .input_text;
            }
        }
    }
}
