.view {
    margin-top: $mg-2;
    .view__content {
        width: 80%;
        margin: auto;
        position: relative;
        .card {
            height: 275px;
            overflow: hidden;
            .card-body {
                padding: 1rem;
                .card-title {
                    display: -webkit-box; //hien thi tren webkit
                    overflow: hidden;
                    text-overflow: ellipsis; //them phan hide la ...
                    min-height: 39px;
                    line-clamp: 2; //dong hien thi doi ta
                    -webkit-line-clamp: 2;
                    -moz-line-clamp: 2;
                    -ms-line-clamp: 2;
                    -o-line-clamp: 2;
                    box-orient: vertical; //du lieu hien thi theo chieu doc //chieu doc, toi da 2 dong, hon thi ...
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -ms-box-orient: vertical;
                    -o-box-orient: vertical;
                    @include text($color-black-0, $fs-0, $fw-normal);
                }
                .card-text {
                    @include text($color-gray-4, $fs-1 - 1, $fw-normal);
                    margin: $mg-1 - 5 0;
                }
                .star {
                    @include text($color-yellow, $fs-1 - 1, $fw-normal);
                }
                .number-average {
                    @include text($color-gray-4, $fs-1, $fw-bold-0);
                }
                .number-rating {
                    @include text($color-gray-4, $fs-1, $fw-normal);
                }
                .price {
                    text-align: right;
                    padding: $pd-1 0;
                    span:first-child {
                        @include text($color-gray-4, $fs-1, $fw-normal);
                        text-decoration: line-through; //chu ganh ngang chinh giua
                    }
                    span:last-child {
                        @include text($color-black-0, $fs-0, $fw-bold-0);
                    }
                }
            }
        }
    }
}
